<!DOCTYPE html>
<html lang="uz">
<head>
    <meta charset="UTF-8">
    <title>Tizimga kirish</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='style.css') }}">
</head>
<body>

    {% with messages = get_flashed_messages(with_categories=true) %}
      {% if messages %}
        {% for category, message in messages %}
          <div class="flash-message {{ category }}">{{ message }}</div>
        {% endfor %}
      {% endif %}
    {% endwith %}

    <div class="auth-container">
        <div class="auth-box">
            <h2>Tizimga kirish</h2>
            <form method="POST">
                <label for="username">Foydalanuvchi nomi</label>
                <input type="text" name="username" id="username" placeholder="Foydalanuvchi nomini kiriting" required>

                <label for="password">Parol</label>
                <input type="password" name="password" id="password" placeholder="Parolni kiriting" required>

                <button type="submit">Kirish</button>
            </form>

            <p>Hisobingiz yo‘qmi?
                <a href="{{ url_for('register') }}">Ro‘yxatdan o‘ting</a>
            </p>
        </div>
    </div>

    <footer>
        <p>© 2025 Talabalar tizimi</p>
    </footer>

</body>
</html>
